@charset "UTF-8";

/*                              -*- Mode: Css -*- 
   default.css --- 
   Author          : Marcel Turcotte
   Created On      : Fri Dec 18 12:18:24 2009
   Last Modified By: Marcel Turcotte
   Last Modified On: Mon Mar  8 16:01:26 2010
*/

body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000
}

.header-wrapper {
    background: #72634d;
}

.header-container {
    width: 900px;
    height: 100px;
    margin: 0 auto;
    position: relative
}

.header {
    position: absolute;
    bottom: 0;
    color:#FFFFFF;
    padding: 0px 0px 5px 0px;
    text-align: left;
    font-size: 200%;
    vertical-align: bottom
}

.navigator-wrapper {
    background: #5E4F3A;
}

.navigator {
    width: 900px;
    padding: 5px 0px 5px 0px;
    margin: 0 auto;
    color:#FFFFFF;
    text-align: right;
}

.navigator a:link {
    color: #FFFFFF;
}

.navigator a:visited {
    color: #FFFFFF;
}

.navigator a:hover {
    color: #B4AEAA;
    background: #5E4F3A;
}

.wrapper {
    margin: 0 auto;
    text-align: left;
    width: 900px;
}

.path {
    width: 900px;
    padding: 5px 0px 5px 0px;
    text-align: left;
}

.page {
    width: auto;
    margin: 0 auto;
    border: 0;
    text-align: center;
}

.message {
    float: left;
    width: 170px;
    padding: 5px 10px 5px 5px;
    text-align: right;
    font-family: Skia cursive;
    font-size: small;
}

.capsule {
    float: right;
    width: 225px;
    padding: 5px;
    font-size: 70%;
    text-align: left;
}

.content {
    width: 465px;
    min-height: 450px;
    margin: 0 250px 15px 185px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-size: 90%;
}

.content > h1:first-child { 
    margin-top: 0;
}

.content h1 {
    font-size: medium;
}

.content h2 {
    font-size: small;
}

.content h3 {
    font-size: x-small;
}

.capsule > h1:first-child { 
    margin-top: 0;
}

.capsule h1 {
    font-size: small;
}

.capsule h2 {
    font-size: x-small;
}

.capsule h3 {
    font-size: xx-small;
}

.footer { 
    padding: 5px;
    color: #EA891F;
    background: #222222;
    text-align: center;
} 

.console { 
    padding: 5px;
    color: red;
    background: white;
    text-align: left;
} 

.title {
    color: #EA891F;
    font-weight: bold;
}

.date {
    color: #9FAA00;
    font-weight: bold;
}

.entry .date {
    font-size: smaller;
}

.entry .text {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: smaller;
}

.citation-content {
    font-style: italic;
}

.citation-source {
    text-decoration: underline;
}

.citation-author {
    font-weight: bold;
}

.menu-item {
    margin-bottom: 5px;
}

.menu-title {
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 15px;
}

.content > table {
    border-collapse: collapse;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.content > table tr th  {
    border-style: solid;
    border-width: thin;
    padding: 2px;
}


.fr {
    font-style: italic;
}

a {
    color: #993333;
    text-decoration: none;
    font-weight: inherit;
}

a:link {
    color: #993333;
}

a:visited {
    color: #D99815;
}

a:hover {
    background-color: #EDEDED;
}

address a:link {
    color: #CF5200;
}

address a:visited {
    color: #E7A97F;
}

address a:hover {
    background-color: #222222;
    text-decoration: underline;
}

address {
    font-style:normal;
    font-size: 80%;
}

.uOttawa {
    color:#EEEEEE;
    letter-spacing:4pt;
}

/* debugging */

/*

* { 
    border: 1px;
    border-style: solid;
    border-color: red;
}

*/
